<script type="module" src="{{BASE}}Scripts/Components/play_link.js"></script>
<header>
    <img class="icon" alt="logo" src="{{BASE}}Image/Interface/logo.png" width="50px"/>
    <h1 class="title">RepsTracker</h1>
</header>
<!-- Naviguation menu -->
<nav id="naviguation_bar">
    <ul>
        <li><a href="{{BASE}}index.html"><img class="icon" src="{{BASE}}Image/Interface/home.png"/></a></li>
        <li id="play_btn" class="hidden"><a><img class="icon" src="{{BASE}}Image/Interface/play.png"/></a></li>
        <li><a href="{{BASE}}Pages/parameters.html"><img class="icon" src="{{BASE}}Image/Interface/settings.png"/></a></li>
    </ul>
</nav>